 /* style from the top of the html to the bottom. */
/* Adjusting Header and Nav ul */

html {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flexbox;
}

body {
    display: flexbox;
    color: midnightblue;
}

nav ul {
    justify-content: baseline;
    margin-bottom: 1%;
    min-width: 200px;
}

section h2 {
    justify-content: flex-end;
    align-items:center;
    font-size: 250%;
}

main section h2 {
    display: flex;
    justify-content: left;
}

/* div h3 {
    display: flex;
    justify-content: center;
} */

.workprojects {
    align-items: center;
    flex: 1;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
}

.responsive {
    width: 100%;
    height: 100%;
}

.portfolioprojects {
    border-width: 5px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 200px;
}

.contactMeme {
    font-size: 100;
    color: navy;
}

/*figure out how to get info to align in a row as opposed to column*/
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2%;
}

@media screen and (max-width: 620px) {
    main,
    nav {
        flex-direction: column;
    }
    
}
