/* style from the top of the html to the bottom. */
/* Adjusting Header and Nav ul */
header {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    align-items: center;
    font-size: 300%;
    background: crimson;
    color: ivory;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
nav ul {
    display: flexbox;
    justify-content: baseline;
    margin-bottom: 1%;
    min-width: 200px;
}

section h2 {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    font-size: 250%;
}

main {
    display: flexbox;
    flex-wrap: wrap;
}

main section h2 {
    display: flex;
    justify-content: left;
}

div h3 {
    display: flex;
    justify-content: center;
}

.workprojects {
    flex: 1;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
}

.portfolioprojectsbig {
}

.portfolioprojects {
    border-style: hidden;
    border-width: 5px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 200px;
}

.contactMeme {
    background: crimson;
}

/*Added github link, trying to appear similar to example*/
h4 {
    display: flex;
    align-items:stretch;
    justify-content: space-between;
}

@media screen and (max-width: 620px) {
    main,
    nav {
        flex-direction: column;
    }
    
}
